<% content_for(:sidebar) do %>
<h3>
	Custom Title for Sponsor
</h3>
<p>
	<% render(partial: "sponsor_events", object: @sponsor) %>
</p>

<% end %>




<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
